---
import Layout from '@layouts/BaseLayout.astro'
import ChordSpelling from '@components/ChordSpelling.astro'

const title = 'Astro Chord Reference'
---

<Layout title={title} >
  <ChordSpelling />

  <p>
    Code on <a href="https://github.com/music-practice-tools/astro-chords"
      >GitHub</a
    >
  </p>
</Layout>
